{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<main class="container d-flex justify-content-center align-items-center" style="height: 500px;">
    <div class="align-items-center d-flex flex-column">
        <i class="fa-solid fa-xmark text-danger" style="font-size: 180px;"></i>
        <h1>Thanh toán thất bại</h1>
        <span>Hãy thử lại</span>
        <button class="btn btn-success mt-5">Quay về trang chủ</button>
    </div>
</main>
{% endblock content %}