{% extends "partials/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<main>
  <div class="container d-flex justify-content-center">
    <div class="d-flex">
      <div class="card w-75" style="">
        <div class="card-body">
          <h5 class="card-title">Nhà cung cấp</h5>
          <div class="row">
            {% for v in vender %}
            <div class="col-3">
              <input style="" id="exampleCheckbox1" class="filter-checkbox" data-filter="vender" value="{{v.maNCC}}" type="checkbox" name="dolce_gabbana" />
              <label for="dolce_gabbana">{{ v.tenNCC }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card w-25">
        <div class="card-body">
          <h5 class="card-title">Giá</h5>
          <div class="mt-3">
            <input type="range" name="range" id="range" class="slider-range form-control" min="{{ min_max_gia.giaBan__min }}" max="{{ min_max_gia.giaBan__max }}" oninput="max_price.value = this.value">
            <div class="d-flex justify-content-between">
              <span class="">Từ:<strong>{{ min_max_gia.giaBan__min }}</strong></span>
              <span class="">Đến:<strong>{{ min_max_gia.giaBan__max }}</strong></span>
            </div>
            <input type="number" name="" id="max_price" value="{{min_max_gia.giaBan__min}}" min="{{ min_max_gia.giaBan__min }}" max="{{ min_max_gia.giaBan__max }}" class="form-control" placeholder="Gía hiện tại" onkeyup="range.value=this.value">
          </div>
          <button type="button" class="btn btn-success form-control" id="price-filter-btn">Lọc</button>
          {% comment %} <h3>{{min_max_gia}}</h3> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
      <span>Chúng tôi tìm thấy {{number_product.count}} sản phẩm cho bạn </span>
      <div class="row mt-3" id="filtered-product">
          {% for p in products %}
            <div class="col-3 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <div class="percent rounded" style="width: 50px; height: 25px; background: red; position: absolute">
                  <span class="text-light">-{{ p.get_precentage|floatformat }}%</span>
                </div>
                <img src="{{ p.anhSP.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <span style="font-size: 12px">{{ p.loaiSP.tenLoai }}</span>
                  <h5 class="card-title">{{ p.tenSP }}</h5>
                  <div class="d-flex justify-content-between">
                    <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.maSP }}" />
                    <input type="hidden" value="{{ p.maSP }}" class="product-pid-{{ p.maSP }}" />
                    <input type="hidden" value="{{ p.anhSP.url }}" class="product-image-{{ p.maSP }}" />
                    <input type="hidden" value="{{ p.maSP }}" class="product-id-{{p.maSP}}" />
                    <input type="hidden" value="{{ p.tenSP }}" class="product-title-{{p.maSP}}" />
                    <input type="hidden" value="{{ p.giaBan }}" class="current-product-price-{{p.maSP}}" >
                    <div class="d-flex flex-column">
                      <span class="">{{ p.giaBan|intcomma }}VND</span>
                      <span style="font-size: 12px; opacity: 50%" ><del>{{ p.giaCu|intcomma }}VND</del></span>
                    </div>
                    <a href="{% url "core:product-detail" p.maSP %}" class="btn btn-primary">
                      <i class="fa-solid fa-plus"></i>
                    </a>
                    <button type="submit" class="btn btn-primary add-to-cart-btn" id="add-to-cart-btn" data-index="{{ p.maSP }}">
                      <i class="fa-solid fa-cart-shopping text-light "></i>
                    </button>
                    <button class="btn border add-to-wishlist" data-product-item="{{ p.maSP }}" action="{% url "add-to-wishlist"%}">
                      <i class="fa-regular fa-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <div class="d-flex justify-content-center">
        {% if products.has_next %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{products.next_page_number}}" style="margin-left: 10px; margin-right: 10px">next</a>
        {% endif %}

        Page {{products.number}} of {{products.paginator.num_pages}}

        {% if products.has_previous %}
        <a href="?page={{products.paginator.num_pages}}" style="margin-left: 10px; margin-right: 10px">last</a>
        <a href="?page={{products.previous_page_number}}">Previous &raquo</a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}
