{% extends "partials/base.html" %}
{% load static %}
{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="text-center">Danh sách nhà cung cấp</h1>
        <div class="container mt-5">
            <span>Chúng tôi có {{number_vender.count}} nhà cung cấp cho bạn</span>
        </div>
        <div class="row mt-5">
            {% for v in vender %}
            <div class="col-6 d-flex justify-content-center border">
                <div class="align-items-center justify-content-center d-flex w-25">
                    <span class="bg-success-subtle p-3">{{ v.product.all.count }} products</span>
                </div>
                <div class="card w-75 border-0">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url "core:vender-detail" v.maNCC %}">{{ v.tenNCC }}</a></h5>
                      <p class="card-text">{{ v.moTa|safe }}</p>
                      <p class="card-text">Địa chỉ: {{ v.diaChi }}</p>
                      <p class="card-text">Liên hệ: {{ v.lienHe }}</p>
                      <div class="d-flex justify-content-end">
                        <a href="{% url "core:vender-detail" v.maNCC %}" class="btn btn-primary">
                          <span>Thăm cửa hàng</span>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% if vender.has_next %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{vender.next_page_number}}" style="margin-left: 10px; margin-right: 10px">next</a>
            {% endif %}
    
            Page {{vender.number}} of {{vender.paginator.num_pages}}
    
            {% if vender.has_previous %}
            <a href="?page={{vender.paginator.num_pages}}" style="margin-left: 10px; margin-right: 10px">last</a>
            <a href="?page={{vender.previous_page_number}}">Previous &raquo</a>
            {% endif %}
          </div>
    </div>
</main>

{% endblock content %}
