{% load humanize %}
<main class="container mt-5">
    <div class="">
        <h1 class="text-center">Danh sách yêu thích</h1>
        <table class="table table-bordered">
            <tr>
                <th>Hình ảnh</th>
                <th>Tên sp</th>
                <th>Gía bán</th>
                <th>Tình trạng</th>
                <th>Chức năng</th>
                <th>Xóa</th>
            </tr>
            {% for p in wishlist %}
            <tr>
                <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.sanPham.maSP }}" />
                <input type="hidden" value="{{ p.sanPham.maSP }}" class="product-pid-{{ p.sanPham.maSP }}" />
                <input type="hidden" value="{{ p.sanPham.anhSP.url }}" class="product-image-{{ p.sanPham.maSP }}" />
                <input type="hidden" value="{{ p.sanPham.maSP }}" class="product-id-{{p.sanPham.maSP}}" />
                <input type="hidden" value="{{ p.sanPham.tenSP }}" class="product-title-{{p.sanPham.maSP}}" />
                <input type="hidden" value="{{ p.sanPham.giaBan }}" class="current-product-price-{{p.sanPham.maSP}}" >
                <td style="width: 250px"><img src="{{p.sanPham.anhSP.url}}" alt="" class="w-25"></td>
                <td>{{p.sanPham.tenSP}}</td>
                <td>{{p.sanPham.giaBan|intcomma}}</td>
                <td>
                    {% if p.sanPham.sanCo == True %}
                        Còn hàng
                    {% else %}
                        Hết hàng
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-success add-to-cart-btn" id="add-to-cart-btn" data-index="{{ p.sanPham.maSP }}">
                        <i class="fa-solid fa-cart-shopping text-light "></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-success delete-wishlist-product" data-wishlist-product= {{ p.id }}><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</main>
